GIN_MODE=debug
URL_SCHEME="http://"
HOST=localhost:8080
PORT=8080
APP_NAME="API"
SECRET="secret"
SESSION_NAME="goquestsession"
JWT_TOKEN_TIMEOUT=24 #hours
JWT_IDENTITY_KEY="sub" #sub = google id
OAUTH_REDIRECT_URL="/oauth/check/google"
OAUTH_SCOPE="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"
OAUTH_CREDENTIALS_FILE="oauth.google.json"